<style>
  li {
    display: flex;
    justify-content: space-between;
  }
  .id {
    color: rgb(238, 118, 148);
    margin-right: 20px;
  }

  .title {
    color: rgb(113, 202, 195);
    /* text-align: center; */
  }
  img {
    height: 50px;
    width: 50px;
  }
</style>
<input
  type="text"
  class="form-control"
  #title
  (keyup.enter)="createPhoto(title)"
/>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let photo of photos">
    <div>
      <h4 class="id">
        Picture: <strong>{{ photo.id }}</strong>
      </h4>
      <button class="btn btn-success btn-sm" (click)="updatePhoto(photo)">
        Update
      </button>
      <button class="btn btn-warning btn-sm" (click)="deletePhoto(photo)">
        Delete
      </button>
    </div>
    <h4 class="title">
      <strong>{{ photo.title }}</strong>
    </h4>
    <img src="{{ photo.thumbnailUrl }}" alt="picture" />
  </li>
</ul>
