<form [formGroup]="form" (ngSubmit)="login()">
  <div class="alert alert-danger" *ngIf="form.errors">
    The user name or password is invalid!
  </div>
  <div formGroupName="account">
    <div class="form-group">
      <label for="username">User Name</label>
      <input
        type="text"
        id="username"
        class="form-control"
        formControlName="username"
      />
      <div *ngIf="username.pending">Checking for uniqueness...</div>
      <div
        class="alert alert-danger"
        *ngIf="username.touched && username.invalid"
      >
        <div *ngIf="username.errors.required">User name is required!</div>
        <div *ngIf="username.errors.minlength">
          User name should be minimum
          {{ username.errors.minlength.requiredLength }} characters!
        </div>
        <div *ngIf="username.errors.cannotContainSpace">
          User name cannot contain space!
        </div>
        <div *ngIf="username.errors.shouldBeJanko">
          User name is alredy taken!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
      />
      <div *ngIf="password.pending">Checking...</div>
      <div
        class="alert alert-danger"
        *ngIf="password.touched && password.invalid"
      >
        <div *ngIf="password.errors.required">Password is required!</div>
        <div *ngIf="password.errors.minlength">
          Password should be minimum
          {{ password.errors.minlength.requiredLength }} characters!
        </div>
        <div *ngIf="password.errors.maxlength">
          Password should be maximum
          {{ password.errors.maxlength.requiredLength }} characters!
        </div>
        <div *ngIf="password.errors.mustIncludes">
          Password should contains at least two numbers, one uppercase letter
          and one lowercase letter!
        </div>
        <div *ngIf="password.errors.mustBeValue">Invalid password!</div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Sign up</button>
</form>
