<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      minlength="3"
      maxlength="10"
      pattern="banana"
      ngModel
      name="firstName"
      #firstName="ngModel"
      id="firstName"
      (change)="log(firstName)"
      type="text"
      class="form-control"
      required
    />
    <div
      *ngIf="firstName.touched && !firstName.valid"
      class="alert alert-danger"
    >
      <div *ngIf="firstName.errors.required">First name is required!</div>
      <div *ngIf="firstName.errors.minlength">
        First name should be minimum
        {{ firstName.errors.minlength.requiredLength }} characters!
      </div>
      <div *ngIf="firstName.errors.pattern">
        First name doesn't match the pattern!
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      cols="30"
      rows="10"
      id="comment"
      type="text"
      class="form-control"
    ></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input ngModel name="isSubscribed" type="checkbox" />Subscribed to mailing
      list.</label
    >
  </div>
  <div class="form-group">
    <label for="contactMetod"></label>
    <select
      multiple
      ngModel
      name="contactMetod"
      id="contactMetod"
      class="form-control"
    >
      <option *ngFor="let metod of contactMetods" [value]="metod.id">
        {{ metod.name }}
      </option>
      <!-- ak chcem vidiet cely objekt, vytahujem ho cez ngValue -->
      <!-- <option *ngFor="let metod of contactMetods" [ngValue]="metod">
        {{ metod.name }}
      </option> -->
    </select>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="contactMetod" value="1" ngModel />E-mail
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="contactMetod" value="2" ngModel />Phone
    </label>
  </div>
  <p>{{ f.value | json }}</p>

  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
