<style>
  .star-wrapper {
    border: 1px solid rgb(224, 213, 213);
    border-radius: 5px;
    width: 50%;
    padding: 20px;
  }

  .glyphicon-wrapper {
    padding-left: 0;
  }

  .star-rate {
    border-top: 1px solid rgb(224, 213, 213);
  }
</style>

<div>
  <h1>Basic demo</h1>
  <div class="star-wrapper">
    <ul class="glyphicon-wrapper">
      <li
        *ngFor="let star of stars"
        class="glyphicon glyphicon-star"
        (click)="onClick(star)"
        [ngClass]="{
          'glyphicon-star': rateCount >= star,
          'glyphicon-star-empty': rateCount < star
        }"
      ></li>
    </ul>
    <p class="star-rate">
      Rate: <strong>{{ rateCount }}</strong>
    </p>
  </div>
</div>
