<div *ngIf="courses.length > 0">List of courses</div>
<ng-template [ngIf]="courses.length > 0"
  ><div>List of courses</div></ng-template
>
<ng-template [ngIf]="!(courses.length > 0)">No courses yet</ng-template>
