<form>
  <input
    type="text"
    class="form-control"
    (keyup.enter)="addTopic(topic)"
    #topic
  />
</form>
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let topic of topics.controls; let i = index"
  >
    {{ topic.value }}
    <button (click)="removeTopic(i)">Remove</button>
  </li>
</ul>
