<h3>Select your title, please!</h3>
<div *ngFor="let title of titles">
  <input type="radio" name="titles" value="title.id" />
  <label for="titles">{{ title.name }}</label>
</div>

<!-- DU urobit radio button cez ngFor(pridavam na divko, [value]="method"), podobne ako v option. Pridam vsetko do dokumentacky -->
