<ul>
  <li *ngFor="let course of courses; index as i">
    {{ course.name }}
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Change text</button>
  </li>
</ul>
<ul>
  <li *ngFor="let course of courses; even as i">{{ course.name }}</li>
</ul>
<ul>
  <li *ngFor="let course of courses; even as isEven">
    {{ course.name }}<span *ngIf="isEven">Even</span>
  </li>
</ul>
<button (click)="onAdd()">Add</button>
