<!-- <h1>Bootstrap Alerts</h1>
<b-alert></b-alert>
<h1>My Alerts</h1>
<my-alert></my-alert> -->
<!-- <h1>Bootstrap Dropdown</h1>
<b-dropdown></b-dropdown>
<h1>My Dropdown</h1>
<my-dropdown></my-dropdown> -->
<h1>Bootstrap Modal</h1>
<b-modal></b-modal>
<h1>My Modal</h1>
<my-modal></my-modal>
