<style>
  .my-wrapper {
    width: 50%;
    margin: 20px auto;
  }
  .shipping-div,
  .billing-div,
  .billing-content {
    height: 55px;
    padding: 20px;
    text-transform: capitalize;
    font-weight: bold;
  }
  .shipping-div,
  .billing-div {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(204, 196, 196);
    border-radius: 5px;
    cursor: pointer;
  }
  .darker-background {
    background-color: rgb(145, 145, 145);
  }

  .billing-content {
    border: 1px solid rgb(204, 196, 196);
    border-top: transparent;
    border-radius: 0 0 5px 5px;
  }
</style>

<div class="my-wrapper">
  <div class="shipping-div">
    <ng-content select=".shipping"></ng-content>
    <ng-content select=".icon-1"></ng-content>
  </div>
  <div
    class="billing-div"
    (click)="onClick()"
    [ngStyle]="{
      borderBottom: showElement ? 'transparent' : '',
      backgroundColor: showElement ? '#f1f1f1' : '#fff',
      borderRadius: showElement ? '5px 5px 0 0' : ' 5px'
    }"
  >
    <ng-content select=".billing"></ng-content>
    <div
      class="glyphicon"
      [ngClass]="{
        'glyphicon-chevron-down': !showElement,
        'glyphicon-chevron-up': showElement
      }"
    >
      <ng-content select=".icon-2"></ng-content>
    </div>
  </div>
  <div class="billing-content" *ngIf="showElement">
    <ng-content select=".billing-content"></ng-content>
  </div>
</div>

<!-- DU vyrobit podla obrazkov zo skypu. nepouzivat bootstrap, vytvorit vlasne styly. vyuzit class.active, (click), obsah zobrazeny po kliknuti je tvoreny pomocou ng-content (pozri app.module.html), glyphicon-chevron-up/down na ikonky, -->
