<form [formGroup]="form" (ngSubmit)="login()">
  <h4>
    If you want to reset your current password click on the button below,
    please.
  </h4>
  <button type="reset" class="btn btn-info btn-reset" (click)="onResetPsswd()">
    Reset Password
  </button>
  <div *ngIf="showResetForm">
    <div class="form-group">
      <div
        class="alert alert-info"
        *ngIf="oldPsswd.touched && oldPsswd.invalid"
      >
        <div *ngIf="oldPsswd.errors.required">Password is required!</div>
        <div *ngIf="oldPsswd.errors.onOldPsswd">Invalid password!</div>
      </div>
      <label for="oldPsswd">Old Password</label>
      <input
        type="password"
        class="form-control"
        id="oldPsswd"
        formControlName="oldPsswd"
        placeholder="Enter Your Old Password"
      />
    </div>
  </div>
  <div *ngIf="showResetForm">
    <div class="form-group">
      <div
        class="alert alert-info"
        *ngIf="newPsswd1.touched && newPsswd1.invalid"
      >
        <div *ngIf="newPsswd1.errors.required">New password is required!</div>
      </div>
      <label for="newPsswd1">New Password</label>
      <input
        type="password"
        class="form-control"
        id="newPsswd1"
        formControlName="newPsswd1"
        placeholder="Enter Your New Password"
      />
    </div>
  </div>
  <div *ngIf="showResetForm">
    <div class="form-group">
      <div
        class="alert alert-info"
        *ngIf="newPsswd2.touched && newPsswd2.invalid"
      >
        <div *ngIf="newPsswd2.errors.required">
          Re-confirmation of new password is required!
        </div>
        <div *ngIf="newPasswordNotValid">Passwords must match!</div>
      </div>
      <label for="newPsswd2">Confirmation Of New Password</label>
      <input
        type="password"
        class="form-control"
        id="newPsswd2"
        formControlName="newPsswd2"
        placeholder="Confirm Your New Password"
      />
      <button
        type="submit"
        class="btn btn-info btn-submit"
        (click)="handleChangePassword()"
      >
        Submit New Password
      </button>
    </div>
  </div>
</form>

<!-- DU vytvorit button reset password, po kliknuti (click) sa zavola metoda, ktora prepise stav showResetForm z false na true. Prvy input bude stare heslo (1,2,3,4,5,6     validator bude async metoda po 2 sekundach ), druhy bude nove, treti bude zopakovat nove heslo, ak sa nove heslo neoveri so zopakovanym heslom vybehne alert hlaska. Ak vsetko prejde tak stare heslo sa prepise na nove heslo, vyuzit tlacidlo submit, vytvorit metodu kde prepisujem stare na nove -->
