<div>
  <div class="my-wrapper">
    <button class="red-btn" (click)="show = !show">
      <span class="my-action-btn">Action</span
      ><span class="my-arrow-down"></span>
    </button>
  </div>
  <div class="my-div" *ngIf="show">
    <a class="my-a" href="#">Action</a>
    <a class="my-a" href="#">Another action</a>
    <a class="my-a" href="#">Something else here</a>
    <a class="my-a my-a-special" href="#">Separated link</a>
  </div>
</div>

<!-- https://angular.io/api/common/NgIf -->
