.my-wrapper {
  display: flex;
}
.red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  height: 40px;
  width: 90px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.red-btn:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.my-action-btn {
  margin-right: 6px;
}

.my-arrow-down::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
}

.my-div {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 200px;
  padding: 0;
  position: absolute;
  background-color: white;
}

.my-a {
  list-style: none;
  padding: 5px 5px 5px 25px;
  display: block;
  color: #212529;
  text-decoration: none;
}

.my-a:hover {
  background-color: #f8f9fa;
}
.my-a-special {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
