<form [formGroup]="addressForm" (ngSubmit)="save()">
  <div formArrayName="addressList">
    <h3>Addresses</h3>
    <button (click)="addAddress()">Add new address!</button>
    <div *ngFor="let address of addresses.controls; let i = index">
      Address {{ i + 1 }}
      <div class="form-container" [formGroup]="address">
        <div class="flex-50">
          <input formControlName="streetAddress" />
        </div>
        <div class="flex-50">
          <input formControlName="city" />
        </div>
        <div class="flex-50">
          <input formControlName="state" />
        </div>
        <div class="flex-30">
          <input formControlName="zip" />
        </div>
        <button type="button" class="flex-20" (click)="removeAddressAt(i)">
          Remove
        </button>
      </div>
    </div>
  </div>
  <button type="submit" class="flex-20">Save</button>
</form>
<h2>AddressList</h2>
<div *ngFor="let address of saveData?.addressList">
  <div>Street: {{ address.streetAddress }}</div>
  <div>City: {{ address.city }}</div>
  <div>State: {{ address.state }}</div>
  <div>Zip: {{ address.zip }}</div>
  <hr />
</div>
