<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active current">
          <a routerLink="/photos">Home</a>
        </li>
        <li routerLinkActive="active current">
          <a [routerLink]="['/profile', 1]">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
