<h1>Accordion</h1>
<div class="accordion-container">
  <div class="accordion-wrapper">
    <div class="accordion-div simple-div">
      <button class="accordion-btn" (click)="onClick(1)">Simple</button>
    </div>
    <p class="simple-p" *ngIf="isVisible.message1">
      {{ message }}
    </p>
    <div class="accordion-div fancy-div">
      <button class="accordion-btn" (click)="onClick(2)">
        <i class="glyphicon glyphicon-star"></i><strong>Fancy</strong> title
        <i class="glyphicon glyphicon-star"></i>
      </button>
    </div>
    <p class="fancy-p" *ngIf="isVisible.message2">
      {{ message }}
    </p>
    <div class="accordion-div disabled-div">
      <button class="accordion-btn" (click)="onClick(3)" disabled>
        Disabled
      </button>
    </div>
    <p class="disabled-p" *ngIf="isVisible.message3">
      {{ message }}
    </p>
  </div>
</div>
