<button (click)="show = !show">Launch demo modal</button>
<div *ngIf="show" class="backdrop"></div>
<div class="modal-wrapper" [class.active]="show">
  <div class="title-wrapper">
    <h5 class="modal-title">Modal title</h5>
    <button class="btn-x" (click)="show = !show">x</button>
  </div>
  <div class="content">...</div>
  <div class="btn-wrapper">
    <button class="btn-close" (click)="show = !show">Close</button>
    <button class="btn-save">Save changes</button>
  </div>
</div>
