button {
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 7px 11px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-wrapper {
  margin: 0 auto;
  width: 500px;
  height: 200px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  position: relative;
  transform: translateY(-100%);
  z-index: 2;
  background-color: white;
  opacity: 0;
  transition: all 1s;
}
.active {
  opacity: 1;
  transform: translateY(0);
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
}
.modal-title {
  padding: 15px;
}
.btn-x {
  background-color: transparent;
  border: transparent;
  color: grey;
}
.content {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 15px;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}
.btn-close {
  background-color: grey;
  border: 1px solid grey;
  margin-right: 10px;
}
