<!-- <favorite
  [isFavorite]="post.isFavorite"
  (change)="onFavoriteChanged($event)"
></favorite> -->
<!-- <panel>
  <ng-container class="heading">Heading</ng-container>
  <ng-container class="body">
    <h2>Body</h2>
    <p>blablbakkdkfkfkgkgkgk</p>
  </ng-container>
</panel> -->
<!-- <encapsulation-example></encapsulation-example> -->
<!-- <direktiva-ng-if-example></direktiva-ng-if-example> -->
<!-- <hidden-example></hidden-example> -->
<!-- <switch-case-example></switch-case-example> -->
<!-- <ng-for-example></ng-for-example> -->
<!-- <questionnaire-example></questionnaire-example> -->
<!-- <for-example-track-by></for-example-track-by> -->
<!-- <ng-style-example></ng-style-example> -->
<!-- <custom-directiva-example></custom-directiva-example> -->
<!-- <rating-example></rating-example> -->
<!-- <accordion-example></accordion-example> -->
<!-- <input type="text" [format]="'uppercase'" appInputFormat /> -->
<!-- <input type="text" [appInputFormat]="'uppercase'" /> -->
<!-- <contact-form></contact-form> -->
<!-- <shipping-billing-details-example
  ><div class="shipping">shipping details</div>
  <i class="glyphicon glyphicon-chevron-down icon-1"></i>
  <div class="billing">billing details</div>
  <i class="icon-2"></i>
  <div class="billing-content">billing details content</div>
</shipping-billing-details-example> -->
<!-- <style>
  .active {
    border-color: red;
  }
</style>
<input type="text" [myInput]="'outline'" /> -->
<!-- <input type="text" [myInput]="'backgroundColor'" /> -->
<!-- <radio-button-example></radio-button-example> -->
<sign-up-form></sign-up-form>
<!-- <new-course-form></new-course-form> -->
<!-- <form-builder></form-builder> -->
<!-- <my-form></my-form> -->
<!-- <home-work-form-example></home-work-form-example> -->
<password-example></password-example>
<!-- <post-component></post-component> -->
<!-- <photos-component></photos-component> -->
<!-- <home></home> -->
<!-- <router-outlet></router-outlet> -->
