<style>
  form {
    margin: 20px;
    padding: 20px;
    border: 2px solid #f0ad4e;
    border-radius: 5px;
  }
</style>

<form [formGroup]="form">
  <div class="form-group row">
    <div class="alert alert-warning" *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.required">E-mail is required!</div>
      <div *ngIf="email.errors.checkingCorrectValueEmail">
        E-mail does not exist!
      </div>
    </div>
    <label for="email" class="col-sm-2 col-form-label">E-mail</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="E-mail"
      />
    </div>
  </div>
  <div class="form-group row">
    <div
      class="alert alert-warning"
      *ngIf="password.touched && password.invalid"
    >
      <div *ngIf="password.errors.required">Password is required!</div>
      <div *ngIf="password.errors.checkingCorrectValuePassword">
        Password does not exist!
      </div>
    </div>
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password"
        placeholder="Password"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-warning" (click)="login()">
    Submit
  </button>
</form>
