<div class="myAlert alert-1">My alert 1</div>
<div class="myAlert alert-2">My alert 2</div>
<div class="myAlert alert-3">My alert 3</div>
<div class="myAlert alert-4">My alert 4</div>
<div class="myAlert alert-5">My alert 5</div>
<div class="myAlert alert-6">My alert 6</div>
<div class="myAlert alert-7">My alert 7</div>
<div class="myAlert alert-8">My alert 8</div>
