.myAlert {
  position: relative;
  padding: 12px 20px;
  margin-bottom: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-1 {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-2 {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-3 {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-4 {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-5 {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-6 {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-7 {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-8 {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}
