h1 {
  color: rgb(43, 116, 226);
  font-weight: bold;
  margin: 20px;
}

.months-item {
  margin: 10px;
  padding: 5px;
  background-color: rgb(6, 173, 214);
  color: white;
  border: 2px solid rgb(43, 116, 226);
  font-weight: bold;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
