<h1>What month is it now?</h1>
<!-- <ng-container>
  <div *ngFor="let month of months">
    <div class="months-item" [ngSwitch]="month.name">
      <div *ngSwitchCase="'January'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'February'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'March'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'April'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'May'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'June'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'July'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'August'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'September'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'October'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'November'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchCase="'December'">{{ month.name }} {{ month.year }}</div>
      <div *ngSwitchDefault>No idea</div>
    </div>
  </div>
</ng-container> -->

<ul class="nav nav-pills">
  <ng-container *ngFor="let month of months"
    ><li [class.active]="viewMode == month.name">
      <a (click)="viewMode = month.name">{{ month.name }}</a>
    </li></ng-container
  >
</ul>
<div [ngSwitch]="viewMode">
  <ng-container *ngFor="let month of months">
    <div *ngSwitchCase="month.name">{{ month.name }} content</div>
  </ng-container>
</div>
